*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(
            135deg,
            #000000,
            #000000
    );
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.container {
    width: 40%;
    min-width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
    padding: 30px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#newtask {
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newtask input[type="text"] {
    width: 70%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
}

#newtask input[type="date"] {
    width: 30%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

/* Style the time input */
#newtask input[type="time"] {
    width: 25%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
}

#newtask button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #008000;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

#tasks {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
}

.task {
    background-color: #ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

.task span {
    font-size: 15px;
    font-weight: 400;
}

.task button {
    background-color: #ff0000;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 80%;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.completed {
    text-decoration: line-through;
}
