name: Print Artifact Name

on:
  pull_request:
    branches:
      - main

jobs:
  print_artifact_name:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Display Artifact Name
        run: |
          artifact_name="devops-individuell" 

          echo "Artifact Name: $artifact_name"
